.avatar {
    border-radius: 100%;
    background-color: darkgray;
    width: 90px;
    height: 90px;
    padding-top: 0px;
}
.answer-date {
    color: #888; /* Grey color for the date */
    font-size: 0.9rem; /* Slightly smaller font size */
    margin-top: 5px;
  }
  